{% extends "base.html" %} {% block content %}
<div class="home" style="background-image: url(https://images.unsplash.com/photo-1529003600303-bd51f39627fb);">
    <div class="container">
        <div class="row">
            <!-- Link to courses section -->
            <div class="col-md-6 col-md-offset-3 text-container">
                <h1>Learn skills from experienced industry leaders</h1>
                <p class="light-text">Explore over 30 courses to guide you on your way to making your business stronger.</p>
                <a href="{% url 'food_orders' %}">
                    <p class="link-to">
                        Courses
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
