{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row row-flex">

        <div class="col-md-offset-1 col-md-10 display panel panel-default">
            <div class="panel-body">
                {% for food_order in food_orders %}
                <div class="food_order" style="background-image: url('{{ MEDIA_URL }}{{ food_order.image }}')"></div>

                <h3>{{ food_order.name }}</h3>
                <p class="food_order-description">£{{ food_order.price }} {{ food_order.description }}</p>

                <form method="post" action="{% url 'add_to_cart' food_order.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
