{% extends "base.html" %} {% block content %}

<!-- Background image -->
<div class="bg-image-full" style="background-image: url(https://images.unsplash.com/photo-1522881193457-37ae97c905bf);">

    <!-- Link to courses section -->
    <div class="col-xs-10 col-xs-offset-1 text-container">
        <p class="home-head">Learn skills from experienced industry leaders</p>
        <p class="light-text">Explore over 30 courses to guide you on your way to making your business stronger.</p>
        {% if user.is_authenticated %}
        <a href="{% url 'courses' %}">
            <p class="link-to">
                Courses
            </p>
        </a>
        {% else %}
        <a href="{% url 'courses' %}">
            <p class="link-to">
                Courses
            </p>
        </a>
        <a href="{% url 'register' %}">
            <p class="link-to">
                Register
            </p>
        </a>
        <a href="{% url 'login' %}">
            <p class="link-to">
                Login
            </p>
        </a>
        {% endif %}
    </div>
</div>

<!-- Content section -->
<div class="container">
    <h1>Welcome</h1>
    <p class="lead">So you want a pizza the pie huh? Welcome to PIY!</p>
    <p>PIY is a training portal aimed at businesses looking to start up pizza shops. We have courses designed to help businesses on their path. Everything from basic customer service, to more advanced dough management training. If you are looking for help
        you have come to the right place, our team has over 50 years of pizza making experience to help you on your way.</p>
</div>
{% endblock %}
