{% extends "base.html" %} {% block title %}Password reset successful{% endblock %} {% block content %}
<div class="container">
    <div class="col-md-6 col-md-offset-3 reset-page">
        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
        <p>You should be receiving it shortly.</p>
        <a href="{% url 'courses' %}">
            <p class="link-to">
                Back to courses
            </p>
        </a>
    </div>
</div>
{% endblock %}
