/* Beginning of CSS --------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* Base changes ------------------------------------------------------------- */

body {
    font-family: nunito;
    padding-top: 50px;
    background-color: #F6F8FF;
}

.main-content {
    min-height:78vh;
}


caption p {
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: nunito;
}

/* Styling of courses.html -------------------------------------------------- */

.course {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%px;
    height: 200px;
    margin: 0 auto;
    border-radius: 4px;
}

.course-description {
    min-height: 120px;
}

.course-panel {
    margin: 40px 0px 40px 0px;
}

.course-info-area {
    margin: -4px 0px 40px 0px;
    padding: 10px;
    background-color: #0E53A7;
    border-radius: 4px;

}

/* Styling food_order.html -------------------------------------------------- */

.food-order {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 90px;
    height: 100px;
    margin: 0 auto;
}

.food-order-box {
    background-color: white;
    padding-bottom: 20px;
    min-height: 150px;
}

.food-order-description {
    min-height: 30px;
}

/* Styling utensils.html ---------------------------------------------------- */


.sort-inline {
    display: flex;
}

.sort-height {
    line-height: 60px;
    font-size: 20px;
}

.checkout-summary {
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

.summary-item {

    font-family: nunito;
    font-weight: 800;
    color: #0E53A7;

}

.summary-cost {}

.hr-dark-grey {
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 10px;
}

.hr-footer {
    border: 1px solid #616161;
    border-radius: 4px;
    margin-top: 10px;
    width: 40%;
}

.payment-btn {
    background-color: #0E53A7;
    color: white;
    border-radius: 6px;
}

.social-links {
    font-size: 30px;
}

.review-header {
    font-size: 100px !important;
    height: 36vh;
    margin-left: 10px;
    margin-right: 10px;
}

.review-name {
    position: relative;
    text-shadow: 0 0 14px black;
}

.review-header-sm {
    margin-left: 10px;
    margin-right: 10px;
}

.review-info-area {
    margin: 20px 10px 20px 10px;
    padding: 10px;
    background-color: #0E53A7;
    border-radius: 4px;

}

.form-control {
    padding: 0px 12px 0px 12px !important;
}

.review-form {
    margin-top: 30px;
}

.footer {
    background-color: #262626;
    min-height: 150px;
    padding: 20px;
    text-align: center;

}

.review-inner-header {
    margin-top: 20px;
    min-height: 30px;
    font-size: 20px;
}

.review-btn {
    margin: 20px 0px 20px 0px;
}

.header {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    background-position: center;
    background-color: #0E53A7;
    border-radius: 4px;
    color: white;
    padding: 15px;
    background-size: cover;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}



.navbar {
    background-image: linear-gradient(#0E53A7, #126fe0);
}

.form-control {
    height: 30px;
}

.btn {
    padding: 4px 12px;
}

.navbar-form {
    margin-top: 10px;
}

.bg-image-full {
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.home-head {
    font-size: 20px;
    font-family: nunito;
    font-weight: 800;
    color: white;
}

.home-btn-area {
    height: 150px;
    text-align: center;
}

.course-btn {
    line-height: 150px;
    text-shadow: 0px 0px 3px #000000;
    font-size: 60px;
    background-color: #0E53A7;
    color: white;
    text-decoration: none;
}

.food-order-btn {
    line-height: 150px;
    text-shadow: 0px 0px 3px #000000;
    font-size: 60px;
    background-color: #FFC700;
    color: white;
    text-decoration: none;
}

.utensils-btn {
    line-height: 150px;
    text-shadow: 0px 0px 3px #000000;
    font-size: 60px;
    background-color: #FF5C00;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link-to {
    display: inline-block;
    padding: 2px 25px 2px 25px;
    border: 1px solid white;
    border-radius: 0.25rem;
    background-color: #0E53A7;
    color: #fff;
    font-size: 25px;
    transition: all 0.2s;
    text-align: left;
    margin: 10px;
}

.text-container {
    position: relative;
    border-radius: 4px;
    font-family: nunito;
    font-weight: 600;
    background-color: #0000006C;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.light-text {
    color: white;
}

.star-color {
    color: #e3c800;
}

.registration {}

@media (min-width: 768px) {
    .navbar-form .form-control {
        width: 150px;
    }
}
