/* Beginning of CSS --------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* Base changes ------------------------------------------------------------- */

body {
    font-family: Arial;
    padding-top: 50px;
    background-color: #F6F8FF;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

caption p {
    word-wrap: break-word;
}

h1,h2,h3,h4,h5 {
    font-family: nunito;
}

/* Styling of courses.html -------------------------------------------------- */

.course {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%px;
    height: 200px;
    margin: 0 auto;
}

.course-description {
    min-height: 120px;
}

/* Styling food_order.html -------------------------------------------------- */

.food-order {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 90px;
    height: 100px;
    margin: 0 auto;
}

.food-order-box {
    background-color: white;
    padding-bottom: 20px;
    min-height: 150px;
}

.food-order-description {
    min-height:30px;
}

/* Styling utensils.html ---------------------------------------------------- */

.utensil {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%px;
    height: 200px;
    margin: 0 auto;
}



.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}



.navbar {
    background-image: linear-gradient(#0E53A7, #126fe0);
}

.form-control {
    height: 30px;
}

.btn {
    padding: 4px 12px;
}

.navbar-form {
    margin-top: 10px;
}

.bg-image-full {
    height: 350px;
    background-size: cover;
    background-position: center;
}

.home {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.home-btn-area {
    height: 150px;
    text-align: center;
}

.course-btn {
    line-height: 150px;
    text-shadow: 0px 0px 3px #000000;
    font-size: 60px;
    background-color: #0E53A7;
    color: white;
    text-decoration: none;
}

.food-order-btn {
    line-height: 150px;
    text-shadow: 0px 0px 3px #000000;
    font-size: 60px;
    background-color: #FFC700;
    color: white;
    text-decoration: none;
}

.utensils-btn {
    line-height: 150px;
    text-shadow: 0px 0px 3px #000000;
    font-size: 60px;
    background-color: #FF5C00;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link-to {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 0.25rem;
    background-color: #0E53A7;
    color: #fff;
    font-size: 25px;
    transition: all 0.2s;
    text-align: left;
}

.text-container {
    position: relative;
    top:10vh;
    right:20;
    font-family: nunito;
    font-weight: 600;
    background-color: #000000CC;
}

.light-text {
    color: white;
}

.registration {
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        width: 150px;
    }
}
