/* Beginning of CSS --------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* Base changes ------------------------------------------------------------- */

body {
    font-family: nunito;
    padding-top: 50px;
    background-color: #F6F8FF;
}

.main-content {
    min-height: 78vh;
}

caption p {
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: nunito;
}

/* Buttons ------------------------------------------------------------------ */

.payment-btn {
    background-color: #0E53A7;
    color: white;
    border-radius: 6px;
}

.review-btn {
    margin: 20px 0px 20px 0px;
}

.btn {
    padding: 4px 12px;
}

.home-btn-area {
    height: 150px;
    text-align: center;
}

.course-btn {
    line-height: 150px;
    text-shadow: 0px 0px 3px #000000;
    font-size: 60px;
    background-color: #0E53A7;
    color: white;
    text-decoration: none;
}

.red-btn {
    background-color: red;
    border-radius: 4px;
    color: white;
}

/* Styling of courses.html -------------------------------------------------- */

.course {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%px;
    height: 200px;
    margin: 0 auto;
    border-radius: 4px;
}

.course-description {
    min-height: 120px;
}

.course-panel {
    margin: 40px 0px 40px 0px;
}

.course-info-area {
    margin: -4px 0px 40px 0px;
    padding: 10px;
    background-color: #0E53A7;
    border-radius: 4px;

}

/* Misc fixes --------------------------------------------------------------- */

.accountform {
    margin-top: 50px;
}

.center {
    text-align: center;
}

.sort-inline {
    display: flex;
}

.sort-height {
    line-height: 60px;
    font-size: 20px;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.reset-page {
    margin-top: 50px;
}

.search-bar-height {
    height: 30px;
}

a:hover {
    text-decoration: none;
}

.navbar-form {
    margin-left: 0%
}

.qty-height{
    height: 30px;
}

/* cart.html styling -------------------------------------------------------- */

.delete-from-cart {
    margin-top: 20px;
}

/* checkout.html styling ---------------------------------------------------- */

.checkout-summary {
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

.summary-item {
    font-family: nunito;
    font-weight: 800;
    color: #0E53A7;
}

/* Custom hr tags ----------------------------------------------------------- */

.hr-dark-grey {
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 10px;
}

.hr-footer {
    border: 1px solid #616161;
    border-radius: 4px;
    margin-top: 10px;
    width: 40%;
}

/* Styling of footer -------------------------------------------------------- */

.social-links {
    font-size: 30px;
}

.footer {
    background-color: #262626;
    min-height: 150px;
    padding: 20px;
    text-align: center;
}

/* reviews.html & create_review --------------------------------------------- */

.review-header {
    font-size: 100px !important;
    height: 36vh;
    margin-left: 10px;
    margin-right: 10px;
}

.review-name {
    position: relative;
    text-shadow: 0 0 14px black;
}

.review-header-sm {
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 0 0 14px black;
}

.review-info-area {
    margin: 20px 10px 20px 10px;
    padding: 10px;
    background-color: #0E53A7;
    border-radius: 4px;
}

.review-form {
    margin-top: 30px;
}

.review-inner-header {
    margin-top: 20px;
    min-height: 30px;
    font-size: 20px;
}

.review-sm-img {
    height: 190px;
}

/* Styling of nav ----------------------------------------------------------- */

.navbar {
    background-image: linear-gradient(#0E53A7, #126fe0);
}

.navbar-form {
    margin-top: 10px;
    margin-left: 0%;
}

.logo {
    height: 32px;
    margin-top: 7px;
}

/* profile.html styling -------------------------------------------------- */

.profile-box {
    border-radius: 4px;
    background-color: #0E53A7;
    color: white;
    margin-top: 40px;
}

.profile-inner {
    margin-bottom: 70px;
}

/* Multi use ---------------------------------------------------------------- */

.header {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    background-position: center;
    background-color: #0E53A7;
    border-radius: 4px;
    color: white;
    padding: 15px;
    background-size: cover;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.bg-image-full {
    height: 70vh;
    background-size: cover;
    background-position: center;
}

.home-head {
    font-size: 20px;
    font-family: nunito;
    font-weight: 800;
    color: white;
}

.link-to {
    display: inline-block;
    padding: 2px 25px 2px 25px;
    border: 1px solid white;
    border-radius: 0.25rem;
    background-color: #0E53A7;
    color: #fff;
    font-size: 25px;
    transition: all 0.2s;
    text-align: left;
    margin: 10px;
}

.text-container {
    position: relative;
    border-radius: 4px;
    font-family: nunito;
    font-weight: 600;
    background-color: #0000006C;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.light-text {
    color: white;
}

.star-color {
    color: #e3c800;
}

/* Media queries -------------------------------------------------- */

@media (min-width: 768px) {
    .navbar-form .form-control {
        width: 150px;
    }
}
