{% extends 'base.html' %} {% block content %}
<div class="container">

    <!-- Sorting logic-->
    <div class="row header sort-inline hidden-xs hidden-sm">
        <p class="sort-height">Sort by:</p>
        <form class="navbar-form" action="{% url 'price_ascend' %}" method="get">
            <button class="btn btn-default" type="submit">Price <i class="fa fa-arrow-up" aria-hidden="true"></i></button>
        </form>
        <form class="navbar-form" action="{% url 'price_descend' %}" method="get">
            <button class="btn btn-default" type="submit">Price <i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </form>
        <form class="navbar-form" action="{% url 'name_ascend' %}" method="get">
            <button class="btn btn-default "  action="{% url 'name_ascend' %}" type="submit">Name <i class="fa fa-arrow-up" aria-hidden="true"></i></button>
        </form>
        <form class="navbar-form" action="{% url 'name_descend' %}" method="get">
            <button class="btn btn-default" type="submit">Name <i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </form>
    </div>

    <div class="row">
        <!-- Loops through each item in courses -->
        {% for course in courses %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
            <div class="course-panel">

                <!-- Shows image of cart item -->
                <div class="course" style="background-image: url('{{ MEDIA_URL }}{{ course.image }}')"></div>
                <div class="course-info-area light-text">

                    <!-- Some details of cart item -->
                    <h3 class="light-text">{{ course.name }}</h3>
                    <p>{{ course.average_rating | floatformat }} <i class="fa fa-star star-color" aria-hidden="true"></i><a href="{% url 'course_review' course.id %}"> Learn more</a></p>
                    <p class="course-description">{{ course.description }}</p>
                    <p><i class="fa fa-gbp" aria-hidden="true"></i> {{ course.price }}</p>

                    <!-- Allows user to choose the quantity of item they would like -->
                    <form method="post" action="{% url 'add_to_cart' course.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control qty-height" placeholder="Quantity" required>
                            <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
            <hr/>
        </div>
        {% endfor %}
    </div>
    
    <!-- If there are more than 6 items on the page, the user can navigate through them here -->
    <div class="pagination">
        <span class="step-links">
        {% if courses.has_previous %}
            <a href="?page={{ courses.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
        </span> {% if courses.has_next %}
        <a href="?page={{ courses.next_page_number }}">next</a> {% endif %}
        </span>
    </div>
</div>

{% endblock %}
