{% extends "base.html" %} {% block content %}
<div class="container col-md-6 col-md-offset-3 profile-box">
    <div class="">

        <!-- Shows the user some basic profile information -->
        <h2 class="light-text">Account</h2>
        <hr/>
        <p>You are logged in as {{ user }} </p>
        <p>Items in your cart - {{ course_count }}</p>
        <p><a class="btn btn-success" href="{% url 'view_cart' %}">View My Cart</a></p>
        <h2 class="light-text">Quick Links</h2>
        <hr/>
        <p><a class="btn btn-warning" href="{% url 'logout' %}">Log Out</a>     
        <a class="btn btn-danger" href="{% url 'password_reset' %}">Reset Password</a></p>
    </div>
</div>
{% endblock %}
