{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container">

    <!-- Shows the overall total of the cart and a link to complete payment -->
    <div class="row header">
        <span>{{ user | title }}'s cart | Total
        <i class="fa fa-gbp" aria-hidden="true"></i>{{ total }}
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </span>
    </div>

    <div class="row">

        <!-- Loops through each item in the cart -->
        {% for item in cart_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
            <div class="course-panel">

                <!-- Shows image of cart item -->
                <div class="course" style="background-image: url('{{ MEDIA_URL }}{{ item.course.image }}')">

                    <!-- Allows the user to delete an item from the cart -->
                    <a class="btn btn-danger" href="{% url 'delete_item' item.id %}"><i class="fa fa-times" aria-hidden="true"></i> Delete</a>
                </div>

                <!-- Some details of cart item -->
                <div class="course-info-area light-text">
                    <h5 class="light-text">{{item.quantity}} x {{ item.course.name }}</h5>
                    <p>{{ item.course.average_rating | floatformat }} <i class="fa fa-star star-color" aria-hidden="true"></i></p>
                    <p><i class="fa fa-gbp" aria-hidden="true"></i> {{ item.course.price }}</p>

                    <!-- Form that allows user to adjust quantity of cart items -->
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <label for="exampleInputAmount" class="sr-only">Qty</label>
                        <input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="QTY" required>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Amend</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
