{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}
<div class="container">
    <div class="row">
        <div class="header review-header hidden-xs" style="background-image: url('{{ MEDIA_URL }}{{ course.image }}')">
            <p class="review-name">{{ course.name }}</p>
        </div>
        <div class="header review-header-sm visible-xs">
            {{ course.name }}
        </div>

        <div class="row review-info-area light-text">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <span class="sort-inline review-inner-header">Description</span>
                <hr class="hr-dark-grey" />
                <p class="course-description">{{ course.description }}</p>
                <form method="post" action="{% url 'add_to_cart' course.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>

                <form action="{% url 'add_review' course.id %}" method="post">

                    <legend>My Form</legend>
                    {% csrf_token %} {{ review_form }}
                    <div class="form-actions">
                        <a href="#back" class="btn">Go back</a>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <span class="sort-inline review-inner-header">Reviews </span>
                <hr class="hr-dark-grey" />
                <!-- Loops through each review in reviews -->
                {% for review in reviews %}
                <div class="">

                    <p>{{ review.rating }} <i class="fa fa-star star-color" aria-hidden="true"></i> - {{ review.user_name | upper }}</p>
                    <p>{{ review.comment }} </p>
                    <hr/>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
